<ul class="list-unstyled">
    <% microposts.each do |micropost| %>
        <li class="media">
            <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user,{ size: 50})%>" alt="">
            <div class="media-body">
                <div>
                    <%= link_to micropost.user.name, user_path(micropost.user) %><span class="text-muted">postsd at <%= micropost.created_at %></span>
                </div>
                <div>
                    <p><%= micropost.content %></p>
                </div>
                <% if current_user ==micropost.user %>
                    <div class ='btn-group'>
                    <%= link_to "Delete", micropost, method: :delete, data: {confirm: "you sure?"},class: 'btn btn-danger btn-sm mr-3' %>
                    <%= render 'favorites/like_button', micropost: micropost %>
                     </div>
                <% end %>
            </div>
        </li>
    <% end %>
        <%= paginate microposts %>
</ul>